.item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;

  &__text {
    padding: 0 10px;
    color: #54595e;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    width: 100%;
  }
}
.item:first-of-type {
  margin-bottom: 0;
}
